.header {
  background: var(--gray-700);
  height: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.form {
  max-width: 73.6rem;
  width: 100%;


  display: flex;
  gap: 8px;

  position:absolute ;
  bottom: -2.7rem;
}

.form input {
  flex: 1;
  height: 5.4rem;
  border-radius: 8px;
  outline: none;
  background: var(--gray-500);
  color: var(--gray-100) ;
  border: 1px solid var(--gray-700);
  line-height: 1.4;
  padding: 0 1.6rem;
}

.form input::placeholder{
  color: var(--gray-300);
 
}

.form input:focus {
  border-color: var(--purple-dark);
}

.form button[type="submit"] {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--gray-100);
  background: var( --blue-dark);
  border: none;
  border-radius: 8px;


  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px ;
  padding: 1.6rem;
  cursor: pointer;

  transition: all .5s;
}

.form button:hover {
  background: var(--blue);
}


/*Main*/


.tasksContainer {
  max-width: 73.6rem;
  width: 100%;
  margin: 9rem auto;
}


.taskInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tasksCreated, 
.tasksCompleted {display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  font-weight: bold;
}

.tasksCreated strong{
  color: var(--blue);
}
.tasksCompleted strong {
  color: var(--purple);
}

.counter {
  padding: .2rem .8rem;
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  

  font-size: 1.2rem;
  font-weight: bold;
}


/*EmptyuList*/

.emptyList {

margin-top: 2.4rem;
  padding: 6.4rem 2.4rem;
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);



  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.emptyList strong,
.emptyList span {
  font-size: 1.6rem;
  color:var(--gray-300);
  line-height: 1.4;
}

.emptyList strong {
  margin-top:1.6rem;
 
}


/*Task componente*/


.taskListContainer {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.task {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem;
  border-radius:8px;
}


.task label {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  cursor: pointer;
}

.task label:hover {
  color: var(--gray-200);
}

.task label input[type="checkbox"]{
  display: none;
}


.checkbox {
 width: 2.4rem;
 height: 2.4rem;

 border-radius: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
}

.checkbox-unchecked {
  border: 2px solid var(--blue);
}

.checkbox-unchecked:hover {
  background: var(--blue-dark);
}

.checkbox-checked {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.checkbox-checked:hover {
  border: 2px solid var(--purple);
  background-color: var(--purple);
}


.taskText {
  font-size: 1.4rem;
  line-height: 1.4;
}

.task-text-checked {
  text-decoration: line-through;
  color: var(--gray-300);
}


.task button {
  line-height: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
  border-radius: 4px;
  padding: .5rem;
}


.task button:hover{
  background-color: var(--gray-400);
}

.task button svg {
  transition: 0.5s fill;
}

.task button:hover svg {
  fill: var(--danger);
}